.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    z-index: 1;
    border-radius: 1rem;
    cursor: pointer;
}

.product > button {
    margin-top: 5px !important;
}

.product__img {
    width: 100%;
    object-fit: contain;
}

.product__info {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.product__title {
    font-size: 1.5rem !important;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
    .product__info {
        flex-direction: column;
    }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
    .product__info {
        gap: 1px;
    }
    .product {
        margin: 0 1rem;
    }
    .product__title {
        
    }
    
}